

body{
    background-color: black; /*linear-gradient(to bottom right, #333333,#999999); */
}


  /* Mobile Styles */

@media only screen and (max-width: 400px) {
  }
 
    
    /* Tablet Styles */
 @media only screen and (min-width: 401px) and (max-width: 960px) {
  }

    /* Desktop Styles */
  @media only screen and (min-width: 961px) {
  }




.section1, .section2, p{
    text-align: left;
    margin-left: 120px;
    margin-right: 120px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin-top: 25px;
    line-height: 30px;
    
}

/*
.section1, .section2{
  background-color: lightgrey;
}
*/

.header{
    font-size: 40px;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    
}



.appScreenShot{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;

}

.center, .header{
    text-align: center;

}

/*
.topnav{
    text-align: center;
    background-color: whitesmoke;
    opacity: 45%;
    height: 25px;
    position: relative;
    margin-top: -16px;
    margin-left: -10px;
    margin-right: -10px;
    color: #F7A4B8;
    font-size: 16px;
    word-spacing: 50px;
}
*/

.title{
    text-shadow: 3px 3px black;
}

.active, .projects, .contact, .about{
    text-decoration: none;
}

.section2, .chef{
  color: white;
  text-align: center;
  text-decoration: none; 
}

#style-mail {
  text-align: center;
  color: white;
}